@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300;400;500;700;900&display=swap');

html,
body{
    font-family: 'Grenze Gotisch', cursive;
    overflow-x: hidden;
}
/*Bootstrap fix mobile device gutter efects*/
.row, .container{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.top-bar{
    background: #7aaec4;
    height: 3.8rem;
    padding: .5rem 0;
}
.top-bar a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}